body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://cdn.discordapp.com/attachments/818171495863287869/1204496755727540365/corregedoria_resized.png?ex=65d4f205&is=65c27d05&hm=401674ee84e2d28812f7d839ffd8b12a68fd1bbfc32ae3604a9ba20fc54c28a3&);
}

#formulario {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* Cor de fundo branca para o formulário */
}

label {
    display: block;
}

input[type="text"],
input[type="date"],
input[type="url"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: #45a049;
}